.navbar{
    width: 720px;
    background-color: lightgray;
    display: flex;
    justify-content: space-around;
}
.form_block{
    padding-left: 25px;
    padding-top: 10px;
    background-color: lightgray;
    width: 700px;
    height: 600px;
}
button{
    background-color: green;
    color: white;
    border: none;
    width: 80px;
    height: 30px;
    border-radius: 50px;

}
.form-error{
    color: red;
}

